<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<global-method-security secured-annotations="enabled" />

	<http pattern="/resources" security="none" />

	<http auto-config="true" use-expressions="true"
		disable-url-rewriting="true">

		<!-- security:intercept-url pattern="/login" access="permitAll" requires-channel="https" / -->
		<security:intercept-url pattern="/login" access="permitAll" />
		<security:intercept-url pattern="/home" access="isAuthenticated()" />
		<security:intercept-url pattern="/game/**" access="isAuthenticated()" />
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />

		<form-login login-page="/login" authentication-failure-url="/loginFailure"
			default-target-url="/home" authentication-success-handler-ref="authenticationSuccessHandler" 
			authentication-failure-handler-ref="authenticationFailureHandler" />

		<logout
			invalidate-session="true"
			logout-success-url="/login"
			delete-cookies="JSESSIONID"
			logout-url="/logout" />

		<session-management invalid-session-url="/login" session-fixation-protection="migrateSession">
			<concurrency-control max-sessions="1" expired-url="/acessDenied" />
		</session-management>

		<access-denied-handler error-page="/accessDenied" />
	</http>

	<beans:bean id="authenticationSuccessHandler"
		class="org.springframework.security.web.authentication.CustomAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/home" />
		<beans:property name="targetUrlParameter" value="spring-security-redirect" />
	</beans:bean>
	
	<beans:bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.CustomAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/loginFailure" />
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsManager">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>